<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
				<h2 class="title is-2 has-text-centered">Sign up</h2>

        <%= form_for(@user, as: @user, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.text_field_with_label :name, autofocus: true, autocomplete: "name" %>
          </div>

          <div class="field">
            <%= f.email_field_with_label :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.password_field_with_label :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <p class="help"><%= "(#{@minimum_password_length} characters minimum)" %></p>
            <% end %>
          </div>

          <div class="field">
            <%= f.password_field_with_label :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field is-grouped is-grouped-centered has-margin-top">
  					<p class="control">
  						<%= f.submit_primary "Sign up" %>
  					</p>
  				</div>
        <% end %>

        <br>

        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
