<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-5">
				<h2 class="title is-2 has-text-centered">Log in</h2>

				<%= form_for(@user, as: @user, url: new_session_path(@user)) do |f| %>

        <div class="field">
          <%= f.email_field_with_label :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field_with_label :password, autofocus: true %>
        </div>

				<!-- <div class="field">
					<%= f.label_check_box :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
				</div> -->

				<div class="field is-grouped is-grouped-centered has-margin-top">
					<p class="control">
						<%= f.submit_primary "Login" %>
					</p>
				</div>

			  <% end %>

				<br/>

				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</section>
